<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiciosWebGenericasManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws-desarrollo/ServiciosWebGenericasSqlServer/ServiciosWebGenericasManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiciosWebGenericasManager"
                contract="ServiciosWebGenericas.IServiciosWebGenericasManager"
                name="BasicHttpBinding_IServiciosWebGenericasManager" />
        </client>
    </system.serviceModel>
</configuration>
